---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getAllBlogs } from "../../lib/content.js";

const blogs = await getAllBlogs();
---

<MainLayout title="Blog">

<section class="section">

<div class="container">

<h1 class="section-title">

Goshala Updates

</h1>

<div class="grid">

{
blogs.map(blog => (

<BlogCard blog={blog} />

))
}

</div>

</div>

</section>

</MainLayout>
