---
import MainLayout from "../layouts/MainLayout.astro";

import { cows } from "../data/cows.js";

import { blogs } from "../data/blog.js";

import { products } from "../data/products.js";
---

<MainLayout title="Admin">

<section class="section">

<div class="container">

<h1 class="section-title">
Admin Panel (File-Based)
</h1>

<h2>Cows</h2>

<pre>
{JSON.stringify(cows, null, 2)}
</pre>

<h2>Blogs</h2>

<pre>
{JSON.stringify(blogs, null, 2)}
</pre>

<h2>Products</h2>

<pre>
{JSON.stringify(products, null, 2)}
</pre>

<p>
Edit files inside <b>src/data/</b> to add content.
</p>

</div>

</section>

</MainLayout>