---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Gallery">

<section class="section">

<div class="container">

<h1 class="section-title">
Gallery
</h1>

<p>Content placeholder for now.</p>


</div>

</section>

</MainLayout>
