---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Havana">
<section class="section">
<div class="container">
<h1 class="section-title">Havana</h1>
<p>Content placeholder for now.</p>
</div>
</section>
</MainLayout>
