---
import Navbar from "./Navbar.astro";
---

<header class="navbar">

<div class="container navbar-inner">

<div class="logo">

<a href="/" style="display:flex; align-items:center; gap:10px;">

<img src="/logo.png"
alt="Kamadenu Goushala"
style="height:60px;">

<span>
Kamadenu Goushala
</span>

</a>

</div>

<Navbar />

</div>

</header>