---

---

<nav class="nav-links">

<a href="/">Home</a>

<a href="/about">About</a>

<a href="/cows">Our Cows</a>


<div class="seva-menu">

<span class="seva-trigger">
Seva
</span>

<div class="seva-dropdown">

<a href="/donate" class="seva-item">

<div class="seva-title">
Feed a Cow
</div>

<div class="seva-desc">
Sponsor daily feeding seva
</div>

</a>


<a href="/cows" class="seva-item">

<div class="seva-title">
Adopt a Cow
</div>

<div class="seva-desc">
Support full monthly care
</div>

</a>

</div>

</div>


<a href="/blog">Blog</a>

<a href="/products">Products</a>

<a href="/contact">Contact</a>

</nav>